#geo_scoreboard_main {
    width: 90%;
    height: 90%;
    position: absolute;
    margin: 0px;
    border: 0px;
    background: rgba(0, 0, 0, 0.7);
    top: 5%;
    left: 5%;
    overflow: hidden;
}

#geo_scoreboard_exit {
    float: right;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

#geo_scoreboard_inner {
    width: 100%;
    height: 95%;
    clear: both;
    overflow-y: scroll;
    margin: 0 0 0 25px;
}

#geo_scoreboard_title {
    float: left;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    margin: 5px 0 0 10px;
}

.geo_scoreboard_score {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
}