<html>
<head>
    <title>GeoScoreboard</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    API key reset. Redirecting.
    <script>
        window.location = "/";
    </script>
</body>
</html>
